In [1]:
import csv
import pandas as pd
from sklearn.linear_model import LogisticRegression 
from sklearn.preprocessing import LabelEncoder
LE=LabelEncoder()
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.metrics import precision_recall_fscore_support
from sklearn.svm import LinearSVC
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import BernoulliNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.ensemble import VotingClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

###### Preprocessed Data

In [2]:
df=pd.read_csv('subset1.csv')

In [3]:
df.dtypes

CASE_ID                   object
STU_CITIZEN_NM            object
STU_ABOR_TSI_NM           object
SUBMISSION_METHOD         object
ENTRY_TYPE                object
ASSESSMENT_DECISION_NM    object
ASSESSMENT_OUTCOME_NM     object
LAST_COUNTRY_EDUCATION    object
PREFERENCE_NO              int64
AVAIL_ORG_UNIT_NM         object
STUDY_MODE_CD             object
RETURNING_DEFERRAL        object
CURR_AVAIL_YR              int64
CURR_STUDY_PERIOD         object
ORIG_AVAIL_YR              int64
ORIG_STUDY_PERIOD         object
SPK_CAT_TYPE_CD           object
OFFER_RELEASED_FG         object
OFFER_OUTCOME_CD          object
OFFER_CONDITIONS          object
dtype: object

###### For Response Variable 1 (OFFER_RELEASED_FG())

In [4]:
PG_df=df[['CASE_ID','STU_CITIZEN_NM','STU_ABOR_TSI_NM','SUBMISSION_METHOD','ENTRY_TYPE','LAST_COUNTRY_EDUCATION',
          'PREFERENCE_NO','AVAIL_ORG_UNIT_NM','STUDY_MODE_CD','ORIG_AVAIL_YR','ORIG_STUDY_PERIOD','SPK_CAT_TYPE_CD',
          'OFFER_RELEASED_FG']]

In [5]:
PG_df

,CASE_ID,STU_CITIZEN_NM,STU_ABOR_TSI_NM,SUBMISSION_METHOD,ENTRY_TYPE,LAST_COUNTRY_EDUCATION,PREFERENCE_NO,AVAIL_ORG_UNIT_NM,STUDY_MODE_CD,ORIG_AVAIL_YR,ORIG_STUDY_PERIOD,SPK_CAT_TYPE_CD,OFFER_RELEASED_FG
0,809378|42892|53807,Temporary Entry Permit,Temporary Entry Permit,Online Application,Bachelor (equiv Aust 3yr deg),China (excludes SARs and Taiwan),1,Arts,STD,2016,Mid Year Intake,MCW,Y
1,257764|62446|92576,Australian,Australian,Online Application,Grad Dip/Postgrad Dip,Not entered,1,Law,STD,2016,Mid Year Intake,PGD,Y
2,838396|92416|142450,Temporary Entry Permit,Temporary Entry Permit,Online Application,Bachelor (equiv Aust 3yr deg),Chile,1,Engineering,STD,2017,Start Year Intake,MCW,Y
3,735486|18758|144154,Temporary Entry Permit,Temporary Entry Permit,Data Entry,Bachelor (equiv Aust 3yr deg),Mexico,1,Engineering,STD,2017,Start Year Intake,MCW,Y
4,502030|95557|149167,Australian,Australian,Online Application,Not entered,Australia,1,Engineering,STD,2017,Start Year Intake,MCW,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
74393,1140088|517629|793809,Temporary Entry Permit,Temporary Entry Permit,Online Application,Not entered,Not entered,2,Science,STD,2020,Mid Year Intake,MCW,Y
74394,1098399|517631|793811,Temporary Entry Permit,Temporary Entry Permit,Online Application,Bachelor (equiv Aust 3yr deg),China (excludes SARs and Taiwan),1,Arts,STD,2020,Start Year Intake,MCW,Y
74395,1098399|517631|793812,Temporary Entry Permit,Temporary Entry Permit,Online Application,Not entered,China (excludes SARs and Taiwan),2,Arts,STD,2020,Start Year Intake,MCW,Not entered
74396,912858|517632|793813,Australian,Australian,Online Application,Not entered,Not entered,1,"Medicine, Dentistry and Health Sciences",STD,2020,Start Year Intake,MCW,Not entered
74397,1140092|517633|793814,Temporary Entry Permit,Temporary Entry Permit,Online Application,Bachelor (equiv Aust 3yr deg),China (excludes SARs and Taiwan),1,Business and Economics,STD,2020,Mid Year Intake,MCW,Not entered

In [6]:
PG_df.dtypes

CASE_ID                   object
STU_CITIZEN_NM            object
STU_ABOR_TSI_NM           object
SUBMISSION_METHOD         object
ENTRY_TYPE                object
LAST_COUNTRY_EDUCATION    object
PREFERENCE_NO              int64
AVAIL_ORG_UNIT_NM         object
STUDY_MODE_CD             object
ORIG_AVAIL_YR              int64
ORIG_STUDY_PERIOD         object
SPK_CAT_TYPE_CD           object
OFFER_RELEASED_FG         object
dtype: object

###### Labelling the categorical variables

In [7]:
PG_df.iloc[:,1] = LE.fit_transform(PG_df.iloc[:, 1].values)

C:\Users\AMAR\Anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [8]:
PG_df.iloc[:,2] = LE.fit_transform(PG_df.iloc[:, 2].values)

In [9]:
PG_df.iloc[:,3] = LE.fit_transform(PG_df.iloc[:, 3].values)

In [10]:
PG_df.iloc[:,4] = LE.fit_transform(PG_df.iloc[:, 4].values)

In [11]:
PG_df.iloc[:,5] = LE.fit_transform(PG_df.iloc[:, 5].values)

In [12]:
PG_df.iloc[:,7] = LE.fit_transform(PG_df.iloc[:, 7].values)

In [13]:
PG_df.iloc[:,8] = LE.fit_transform(PG_df.iloc[:, 8].values)

In [14]:
PG_df.iloc[:,10] = LE.fit_transform(PG_df.iloc[:, 10].values)

In [15]:
PG_df.iloc[:,11] = LE.fit_transform(PG_df.iloc[:, 11].values)

In [16]:
PG_df.iloc[:,12] = LE.fit_transform(PG_df.iloc[:, 12].values)

In [17]:
PG_df

,CASE_ID,STU_CITIZEN_NM,STU_ABOR_TSI_NM,SUBMISSION_METHOD,ENTRY_TYPE,LAST_COUNTRY_EDUCATION,PREFERENCE_NO,AVAIL_ORG_UNIT_NM,STUDY_MODE_CD,ORIG_AVAIL_YR,ORIG_STUDY_PERIOD,SPK_CAT_TYPE_CD,OFFER_RELEASED_FG
0,809378|42892|53807,5,5,5,3,23,1,1,3,2016,0,3,2
1,257764|62446|92576,0,0,5,7,88,1,5,3,2016,0,4,2
2,838396|92416|142450,5,5,5,3,22,1,3,3,2017,1,3,2
3,735486|18758|144154,5,5,0,3,76,1,3,3,2017,1,3,2
4,502030|95557|149167,0,0,5,10,5,1,3,3,2017,1,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
74393,1140088|517629|793809,5,5,5,10,88,2,10,3,2020,0,3,2
74394,1098399|517631|793811,5,5,5,3,23,1,1,3,2020,1,3,2
74395,1098399|517631|793812,5,5,5,10,23,2,1,3,2020,1,3,1
74396,912858|517632|793813,0,0,5,10,88,1,6,3,2020,1,3,1
74397,1140092|517633|793814,5,5,5,3,23,1,2,3,2020,0,3,1

In [18]:
PG_df.dtypes

CASE_ID                   object
STU_CITIZEN_NM             int32
STU_ABOR_TSI_NM            int32
SUBMISSION_METHOD          int32
ENTRY_TYPE                 int32
LAST_COUNTRY_EDUCATION     int32
PREFERENCE_NO              int64
AVAIL_ORG_UNIT_NM          int32
STUDY_MODE_CD              int32
ORIG_AVAIL_YR              int64
ORIG_STUDY_PERIOD          int32
SPK_CAT_TYPE_CD            int32
OFFER_RELEASED_FG          int32
dtype: object

In [19]:
X=PG_df.iloc[:,1:12].values
Y=PG_df.iloc[:,12].values

In [20]:
#spliting dataset
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size = 0.3,random_state=0)

In [21]:
# Logistic Regression
lr = LogisticRegression()

In [22]:
lr.fit(x_train,y_train)

C:\Users\AMAR\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\AMAR\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [23]:
lr_predict=lr.predict(x_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, lr_predict)*100,2)))

accuracy: 67.82%

In [24]:
# Confusion matrix, f1_sccore, Precision, Recall
score=accuracy_score(y_test,lr_predict)
print(f'Accuracy: {round(score*100,2)}%')

cm=confusion_matrix(y_test,lr_predict, labels=[1,0])
print ("\n Confusion Matrix : \n")
print (cm)

p, r, f, _ = precision_recall_fscore_support(y_test,lr_predict, pos_label=1, average="micro");

print("\nPerformance on offer released:")
print("Precision =", p)
print("Recall    =", r)
print("F1        =", f)

Accuracy: 67.82%

 Confusion Matrix :

[[4150    0]
 [  15    0]]

Performance on offer released:
Precision = 0.6782258064516129
Recall    = 0.6782258064516129
F1        = 0.6782258064516129

In [25]:
lr_predict

array([2, 1, 2, ..., 2, 2, 2])

In [26]:
# Linear SVM
svm = LinearSVC()
svm.fit(x_train, y_train)

C:\Users\AMAR\Anaconda3\lib\site-packages\sklearn\svm\base.py:922: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
     intercept_scaling=1, loss='squared_hinge', max_iter=1000,
     multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
     verbose=0)

In [27]:
svm_predict = svm.predict(x_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, svm_predict)*100,2)))

accuracy: 67.89%

In [28]:
# SVC
svc = SVC()
svc.fit(x_train, y_train)

C:\Users\AMAR\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='rbf', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [29]:
svc_predict = svc.predict(x_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, svc_predict)*100,2)))

accuracy: 70.64%

In [30]:
# Multinomial Naive Bayes
mnb = MultinomialNB()
mnb.fit(x_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [31]:
mnb_predict = mnb.predict(x_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, mnb_predict)*100,2)))

accuracy: 54.92%

In [32]:
# Bernoulli Naive Bayes
bnb = BernoulliNB()
bnb.fit(x_train, y_train)

BernoulliNB(alpha=1.0, binarize=0.0, class_prior=None, fit_prior=True)

In [33]:
bnb_predict = bnb.predict(x_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, bnb_predict)*100,2)))

accuracy: 56.77%

In [34]:
# K Nearest Neighbors
Knn = KNeighborsClassifier()
Knn.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [35]:
knn_predict=Knn.predict(x_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, knn_predict)*100,2)))

accuracy: 69.36%

In [36]:
# Decision Tree
tree = DecisionTreeClassifier()
tree.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [37]:
dt_predict=tree.predict(x_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, dt_predict)*100,2)))

accuracy: 71.77%

In [38]:
# Random Forest Classifier
forest = RandomForestClassifier()
forest.fit(x_train,y_train)

C:\Users\AMAR\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [39]:
random_predict=forest.predict(x_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, random_predict)*100,2)))

accuracy: 72.18%

In [40]:
# Ensemble Approach
ensemble=VotingClassifier(estimators=[('DT', tree), ('Random Forest', forest)], 
                        voting='hard', weights=[1,2]).fit(x_train,y_train)
print('The accuracy for Decision tree and Random Forest is:',ensemble.score(x_test,y_test))

The accuracy for Decision tree and Random Forest is: 0.7254032258064517

In [41]:
ensemble_predict = ensemble.predict(x_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, ensemble_predict)*100,2)))

accuracy: 72.54%

###### For Response Variable 2 (OFFER_OUTCOME_CD( ))

In [42]:
PG_df1=df[['CASE_ID','STU_CITIZEN_NM','STU_ABOR_TSI_NM','SUBMISSION_METHOD','ENTRY_TYPE','LAST_COUNTRY_EDUCATION',
          'PREFERENCE_NO','AVAIL_ORG_UNIT_NM','STUDY_MODE_CD','ORIG_AVAIL_YR','ORIG_STUDY_PERIOD','SPK_CAT_TYPE_CD',
          'OFFER_RELEASED_FG','OFFER_OUTCOME_CD']]

In [43]:
PG_df1

,CASE_ID,STU_CITIZEN_NM,STU_ABOR_TSI_NM,SUBMISSION_METHOD,ENTRY_TYPE,LAST_COUNTRY_EDUCATION,PREFERENCE_NO,AVAIL_ORG_UNIT_NM,STUDY_MODE_CD,ORIG_AVAIL_YR,ORIG_STUDY_PERIOD,SPK_CAT_TYPE_CD,OFFER_RELEASED_FG,OFFER_OUTCOME_CD
0,809378|42892|53807,Temporary Entry Permit,Temporary Entry Permit,Online Application,Bachelor (equiv Aust 3yr deg),China (excludes SARs and Taiwan),1,Arts,STD,2016,Mid Year Intake,MCW,Y,$DEF
1,257764|62446|92576,Australian,Australian,Online Application,Grad Dip/Postgrad Dip,Not entered,1,Law,STD,2016,Mid Year Intake,PGD,Y,$ACC
2,838396|92416|142450,Temporary Entry Permit,Temporary Entry Permit,Online Application,Bachelor (equiv Aust 3yr deg),Chile,1,Engineering,STD,2017,Start Year Intake,MCW,Y,$ACC
3,735486|18758|144154,Temporary Entry Permit,Temporary Entry Permit,Data Entry,Bachelor (equiv Aust 3yr deg),Mexico,1,Engineering,STD,2017,Start Year Intake,MCW,Y,$DEF
4,502030|95557|149167,Australian,Australian,Online Application,Not entered,Australia,1,Engineering,STD,2017,Start Year Intake,MCW,Y,$ACC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74393,1140088|517629|793809,Temporary Entry Permit,Temporary Entry Permit,Online Application,Not entered,Not entered,2,Science,STD,2020,Mid Year Intake,MCW,Y,NaN
74394,1098399|517631|793811,Temporary Entry Permit,Temporary Entry Permit,Online Application,Bachelor (equiv Aust 3yr deg),China (excludes SARs and Taiwan),1,Arts,STD,2020,Start Year Intake,MCW,Y,NaN
74395,1098399|517631|793812,Temporary Entry Permit,Temporary Entry Permit,Online Application,Not entered,China (excludes SARs and Taiwan),2,Arts,STD,2020,Start Year Intake,MCW,Not entered,Not entered
74396,912858|517632|793813,Australian,Australian,Online Application,Not entered,Not entered,1,"Medicine, Dentistry and Health Sciences",STD,2020,Start Year Intake,MCW,Not entered,Not entered
74397,1140092|517633|793814,Temporary Entry Permit,Temporary Entry Permit,Online Application,Bachelor (equiv Aust 3yr deg),China (excludes SARs and Taiwan),1,Business and Economics,STD,2020,Mid Year Intake,MCW,Not entered,Not entered

###### Label Encoding the Categorical Variables

In [44]:
PG_df1.iloc[:,1] = LE.fit_transform(PG_df1.iloc[:, 1].values)

C:\Users\AMAR\Anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [45]:
PG_df1.iloc[:,2] = LE.fit_transform(PG_df1.iloc[:, 2].values)

In [46]:
PG_df1.iloc[:,3] = LE.fit_transform(PG_df1.iloc[:, 3].values)

In [47]:
PG_df1.iloc[:,4] = LE.fit_transform(PG_df1.iloc[:, 4].values)

In [48]:
PG_df1.iloc[:,5] = LE.fit_transform(PG_df1.iloc[:, 5].values)

In [49]:
PG_df1.iloc[:,7] = LE.fit_transform(PG_df1.iloc[:, 7].values)

In [50]:
PG_df1.iloc[:,8] = LE.fit_transform(PG_df1.iloc[:, 8].values)

In [51]:
PG_df1.iloc[:,10] = LE.fit_transform(PG_df1.iloc[:, 10].values)

In [52]:
PG_df1.iloc[:,11] = LE.fit_transform(PG_df1.iloc[:, 11].values)

In [53]:
# Filtering out records that have there offer released 
PG_df11=PG_df1[PG_df1['OFFER_RELEASED_FG']=='Y']

In [54]:
PG_df11

,CASE_ID,STU_CITIZEN_NM,STU_ABOR_TSI_NM,SUBMISSION_METHOD,ENTRY_TYPE,LAST_COUNTRY_EDUCATION,PREFERENCE_NO,AVAIL_ORG_UNIT_NM,STUDY_MODE_CD,ORIG_AVAIL_YR,ORIG_STUDY_PERIOD,SPK_CAT_TYPE_CD,OFFER_RELEASED_FG,OFFER_OUTCOME_CD
0,809378|42892|53807,5,5,5,3,23,1,1,3,2016,0,3,Y,$DEF
1,257764|62446|92576,0,0,5,7,88,1,5,3,2016,0,4,Y,$ACC
2,838396|92416|142450,5,5,5,3,22,1,3,3,2017,1,3,Y,$ACC
3,735486|18758|144154,5,5,0,3,76,1,3,3,2017,1,3,Y,$DEF
4,502030|95557|149167,0,0,5,10,5,1,3,3,2017,1,3,Y,$ACC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74388,915876|517616|793788,4,4,5,3,5,1,1,3,2020,1,3,Y,$ACC
74391,1140086|517624|793802,5,5,5,3,23,1,3,3,2020,0,3,Y,NaN
74392,1140089|517628|793807,5,5,5,3,23,1,8,3,2020,0,3,Y,NaN
74393,1140088|517629|793809,5,5,5,10,88,2,10,3,2020,0,3,Y,NaN
74394,1098399|517631|793811,5,5,5,3,23,1,1,3,2020,1,3,Y,NaN

In [55]:
PG_df11.iloc[:,12] = LE.fit_transform(PG_df11.iloc[:, 12].values)

C:\Users\AMAR\Anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [56]:
PG_df11.dtypes

CASE_ID                   object
STU_CITIZEN_NM             int32
STU_ABOR_TSI_NM            int32
SUBMISSION_METHOD          int32
ENTRY_TYPE                 int32
LAST_COUNTRY_EDUCATION     int32
PREFERENCE_NO              int64
AVAIL_ORG_UNIT_NM          int32
STUDY_MODE_CD              int32
ORIG_AVAIL_YR              int64
ORIG_STUDY_PERIOD          int32
SPK_CAT_TYPE_CD            int32
OFFER_RELEASED_FG          int32
OFFER_OUTCOME_CD          object
dtype: object

In [57]:
# Filtering null values with $NOT
PG_df11['OFFER_OUTCOME_CD'].fillna('$NOT', inplace = True)

C:\Users\AMAR\Anaconda3\lib\site-packages\pandas\core\generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [58]:
PG_df11

,CASE_ID,STU_CITIZEN_NM,STU_ABOR_TSI_NM,SUBMISSION_METHOD,ENTRY_TYPE,LAST_COUNTRY_EDUCATION,PREFERENCE_NO,AVAIL_ORG_UNIT_NM,STUDY_MODE_CD,ORIG_AVAIL_YR,ORIG_STUDY_PERIOD,SPK_CAT_TYPE_CD,OFFER_RELEASED_FG,OFFER_OUTCOME_CD
0,809378|42892|53807,5,5,5,3,23,1,1,3,2016,0,3,0,$DEF
1,257764|62446|92576,0,0,5,7,88,1,5,3,2016,0,4,0,$ACC
2,838396|92416|142450,5,5,5,3,22,1,3,3,2017,1,3,0,$ACC
3,735486|18758|144154,5,5,0,3,76,1,3,3,2017,1,3,0,$DEF
4,502030|95557|149167,0,0,5,10,5,1,3,3,2017,1,3,0,$ACC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74388,915876|517616|793788,4,4,5,3,5,1,1,3,2020,1,3,0,$ACC
74391,1140086|517624|793802,5,5,5,3,23,1,3,3,2020,0,3,0,$NOT
74392,1140089|517628|793807,5,5,5,3,23,1,8,3,2020,0,3,0,$NOT
74393,1140088|517629|793809,5,5,5,10,88,2,10,3,2020,0,3,0,$NOT
74394,1098399|517631|793811,5,5,5,3,23,1,1,3,2020,1,3,0,$NOT

In [59]:
PG_df11.iloc[:,13] = LE.fit_transform(PG_df11.iloc[:, 13].values)

C:\Users\AMAR\Anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [60]:
PG_df11

,CASE_ID,STU_CITIZEN_NM,STU_ABOR_TSI_NM,SUBMISSION_METHOD,ENTRY_TYPE,LAST_COUNTRY_EDUCATION,PREFERENCE_NO,AVAIL_ORG_UNIT_NM,STUDY_MODE_CD,ORIG_AVAIL_YR,ORIG_STUDY_PERIOD,SPK_CAT_TYPE_CD,OFFER_RELEASED_FG,OFFER_OUTCOME_CD
0,809378|42892|53807,5,5,5,3,23,1,1,3,2016,0,3,0,2
1,257764|62446|92576,0,0,5,7,88,1,5,3,2016,0,4,0,0
2,838396|92416|142450,5,5,5,3,22,1,3,3,2017,1,3,0,0
3,735486|18758|144154,5,5,0,3,76,1,3,3,2017,1,3,0,2
4,502030|95557|149167,0,0,5,10,5,1,3,3,2017,1,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74388,915876|517616|793788,4,4,5,3,5,1,1,3,2020,1,3,0,0
74391,1140086|517624|793802,5,5,5,3,23,1,3,3,2020,0,3,0,4
74392,1140089|517628|793807,5,5,5,3,23,1,8,3,2020,0,3,0,4
74393,1140088|517629|793809,5,5,5,10,88,2,10,3,2020,0,3,0,4
74394,1098399|517631|793811,5,5,5,3,23,1,1,3,2020,1,3,0,4

In [61]:
X =PG_df11.iloc[:,1:13].values
Y =PG_df11.iloc[:,13].values

In [62]:
#spliting dataset
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size = 0.3,random_state=0)

In [63]:
# Logistic Regression
lr = LogisticRegression()

In [64]:
lr.fit(x_train,y_train)

C:\Users\AMAR\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\AMAR\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [65]:
lr_predict=lr.predict(x_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, lr_predict)*100,2)))

accuracy: 54.74%

In [66]:
#Confusion Matrix, f1_score, precision, recall calculation
score=accuracy_score(y_test,lr_predict)
print(f'Accuracy: {round(score*100,2)}%')

cm=confusion_matrix(y_test,lr_predict, labels=[1,0])
print ("\n Confusion Matrix : \n")
print (cm)

p, r, f, _ = precision_recall_fscore_support(y_test,lr_predict, pos_label=1, average="micro");

print("\nPerformance on offer outcome with prerequisite:")
print("Precision =", p)
print("Recall    =", r)
print("F1        =", f)

Accuracy: 54.74%

 Confusion Matrix :

[[   0  531]
 [   0 4604]]

Performance on offer outcome with prerequisite:
Precision = 0.5473843218317698
Recall    = 0.5473843218317698
F1        = 0.5473843218317698

In [67]:
lr_predict

array([0, 0, 4, ..., 0, 0, 0])

In [68]:
# Linear SVM
svm = LinearSVC()
svm.fit(x_train, y_train)

C:\Users\AMAR\Anaconda3\lib\site-packages\sklearn\svm\base.py:922: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
     intercept_scaling=1, loss='squared_hinge', max_iter=1000,
     multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
     verbose=0)

In [69]:
svm_predict = svm.predict(x_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, svm_predict)*100,2)))

accuracy: 31.37%

In [70]:
# SVC
svc = SVC()
svc.fit(x_train, y_train)

C:\Users\AMAR\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='rbf', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [71]:
svc_predict = svc.predict(x_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, svc_predict)*100,2)))

accuracy: 58.27%

In [72]:
# Multinomial Naive Bayes 
mnb = MultinomialNB()
mnb.fit(x_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [73]:
mnb_predict = mnb.predict(x_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, mnb_predict)*100,2)))

accuracy: 33.38%

In [74]:
# Bernoulli Naive Bayes
bnb = BernoulliNB()
bnb.fit(x_train, y_train)

BernoulliNB(alpha=1.0, binarize=0.0, class_prior=None, fit_prior=True)

In [75]:
bnb_predict = bnb.predict(x_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, bnb_predict)*100,2)))

accuracy: 53.04%

In [76]:
# K Nearest Neighbors
Knn = KNeighborsClassifier()
Knn.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [77]:
knn_predict=Knn.predict(x_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, knn_predict)*100,2)))

accuracy: 54.96%

In [78]:
# Decision tree
tree.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [79]:
dt_predict=tree.predict(x_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, dt_predict)*100,2)))

accuracy: 56.94%

In [80]:
# Random Forest
forest = RandomForestClassifier()
forest.fit(x_train,y_train)

C:\Users\AMAR\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [81]:
random_predict=forest.predict(x_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, random_predict)*100,2)))

accuracy: 57.5%

In [82]:
# Ensemble approach
ensemble=VotingClassifier(estimators=[('Random Forest', forest), ('SVC', svc)], 
                        voting='hard', weights=[1,2]).fit(x_train,y_train)
print('The accuracy for Random Forest and Support Vector Machines is:',ensemble.score(x_test,y_test))

C:\Users\AMAR\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

The accuracy for Random Forest and Support Vector Machines is: 0.5826840515185244

###### For Response Variable 3 (RETURNING_DEFERRAL())

In [83]:
PG_df2=df[['CASE_ID','STU_CITIZEN_NM','STU_ABOR_TSI_NM','SUBMISSION_METHOD','ENTRY_TYPE','LAST_COUNTRY_EDUCATION',
          'PREFERENCE_NO','AVAIL_ORG_UNIT_NM','CURR_AVAIL_YR','CURR_STUDY_PERIOD','STUDY_MODE_CD','ORIG_AVAIL_YR',
           'ORIG_STUDY_PERIOD','SPK_CAT_TYPE_CD','OFFER_RELEASED_FG','OFFER_OUTCOME_CD','RETURNING_DEFERRAL']]

In [84]:
PG_df2

,CASE_ID,STU_CITIZEN_NM,STU_ABOR_TSI_NM,SUBMISSION_METHOD,ENTRY_TYPE,LAST_COUNTRY_EDUCATION,PREFERENCE_NO,AVAIL_ORG_UNIT_NM,CURR_AVAIL_YR,CURR_STUDY_PERIOD,STUDY_MODE_CD,ORIG_AVAIL_YR,ORIG_STUDY_PERIOD,SPK_CAT_TYPE_CD,OFFER_RELEASED_FG,OFFER_OUTCOME_CD,RETURNING_DEFERRAL
0,809378|42892|53807,Temporary Entry Permit,Temporary Entry Permit,Online Application,Bachelor (equiv Aust 3yr deg),China (excludes SARs and Taiwan),1,Arts,2019,Start Year Intake,STD,2016,Mid Year Intake,MCW,Y,$DEF,Y
1,257764|62446|92576,Australian,Australian,Online Application,Grad Dip/Postgrad Dip,Not entered,1,Law,2019,Start Year Intake,STD,2016,Mid Year Intake,PGD,Y,$ACC,Y
2,838396|92416|142450,Temporary Entry Permit,Temporary Entry Permit,Online Application,Bachelor (equiv Aust 3yr deg),Chile,1,Engineering,2019,Start Year Intake,STD,2017,Start Year Intake,MCW,Y,$ACC,Y
3,735486|18758|144154,Temporary Entry Permit,Temporary Entry Permit,Data Entry,Bachelor (equiv Aust 3yr deg),Mexico,1,Engineering,2019,Mid Year Intake,STD,2017,Start Year Intake,MCW,Y,$DEF,Y
4,502030|95557|149167,Australian,Australian,Online Application,Not entered,Australia,1,Engineering,2019,Start Year Intake,STD,2017,Start Year Intake,MCW,Y,$ACC,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74393,1140088|517629|793809,Temporary Entry Permit,Temporary Entry Permit,Online Application,Not entered,Not entered,2,Science,2020,Mid Year Intake,STD,2020,Mid Year Intake,MCW,Y,NaN,N
74394,1098399|517631|793811,Temporary Entry Permit,Temporary Entry Permit,Online Application,Bachelor (equiv Aust 3yr deg),China (excludes SARs and Taiwan),1,Arts,2020,Start Year Intake,STD,2020,Start Year Intake,MCW,Y,NaN,N
74395,1098399|517631|793812,Temporary Entry Permit,Temporary Entry Permit,Online Application,Not entered,China (excludes SARs and Taiwan),2,Arts,2020,Start Year Intake,STD,2020,Start Year Intake,MCW,Not entered,Not entered,N
74396,912858|517632|793813,Australian,Australian,Online Application,Not entered,Not entered,1,"Medicine, Dentistry and Health Sciences",2020,Start Year Intake,STD,2020,Start Year Intake,MCW,Not entered,Not entered,N
74397,1140092|517633|793814,Temporary Entry Permit,Temporary Entry Permit,Online Application,Bachelor (equiv Aust 3yr deg),China (excludes SARs and Taiwan),1,Business and Economics,2020,Mid Year Intake,STD,2020,Mid Year Intake,MCW,Not entered,Not entered,N

###### Label Encoding of categorical variables

In [85]:
PG_df2.iloc[:,1] = LE.fit_transform(PG_df2.iloc[:, 1].values)

C:\Users\AMAR\Anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [86]:
PG_df2.iloc[:,2] = LE.fit_transform(PG_df2.iloc[:, 2].values)

In [87]:
PG_df2.iloc[:,3] = LE.fit_transform(PG_df2.iloc[:, 3].values)

In [88]:
PG_df2.iloc[:,4] = LE.fit_transform(PG_df2.iloc[:, 4].values)

In [89]:
PG_df2.iloc[:,5] = LE.fit_transform(PG_df2.iloc[:, 5].values)

In [90]:
PG_df2.iloc[:,7] = LE.fit_transform(PG_df2.iloc[:, 7].values)

In [91]:
PG_df2.iloc[:,9] = LE.fit_transform(PG_df2.iloc[:, 9].values)

In [92]:
PG_df2.iloc[:,10] = LE.fit_transform(PG_df2.iloc[:, 10].values)

In [93]:
PG_df2.iloc[:,12] = LE.fit_transform(PG_df2.iloc[:, 12].values)

In [94]:
PG_df2.iloc[:,13] = LE.fit_transform(PG_df2.iloc[:, 13].values)

In [95]:
# Filtering out records for applications that have there offer released and had deferred there offer
PG_df22=PG_df2[(PG_df2.OFFER_RELEASED_FG=='Y') & (PG_df2.OFFER_OUTCOME_CD=='$DEF')]

In [96]:
PG_df22

,CASE_ID,STU_CITIZEN_NM,STU_ABOR_TSI_NM,SUBMISSION_METHOD,ENTRY_TYPE,LAST_COUNTRY_EDUCATION,PREFERENCE_NO,AVAIL_ORG_UNIT_NM,CURR_AVAIL_YR,CURR_STUDY_PERIOD,STUDY_MODE_CD,ORIG_AVAIL_YR,ORIG_STUDY_PERIOD,SPK_CAT_TYPE_CD,OFFER_RELEASED_FG,OFFER_OUTCOME_CD,RETURNING_DEFERRAL
0,809378|42892|53807,5,5,5,3,23,1,1,2019,1,3,2016,0,3,Y,$DEF,Y
3,735486|18758|144154,5,5,0,3,76,1,3,2019,0,3,2017,1,3,Y,$DEF,Y
5,849365|108527|175922,5,5,5,3,23,1,3,2019,1,3,2017,0,3,Y,$DEF,Y
6,861606|125025|206242,5,5,5,3,89,1,2,2019,1,3,2017,1,3,Y,$DEF,Y
7,861722|125187|206506,0,0,5,8,5,1,8,2019,1,3,2017,1,3,Y,$DEF,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74239,1139923|517378|793442,5,5,5,3,23,1,3,2020,1,3,2020,1,3,Y,$DEF,N
74284,1139964|517455|793554,5,5,5,3,23,1,1,2020,1,3,2020,1,3,Y,$DEF,N
74353,1140046|517560|793707,5,5,5,3,23,1,3,2020,1,3,2020,1,3,Y,$DEF,N
74360,1069087|517566|793719,5,5,5,3,23,1,2,2020,1,3,2020,1,3,Y,$DEF,N
74361,1069087|517566|793720,5,5,5,10,23,2,3,2020,1,3,2020,1,3,Y,$DEF,N

In [97]:
PG_df22.iloc[:,14] = LE.fit_transform(PG_df22.iloc[:, 14].values)

C:\Users\AMAR\Anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [98]:
PG_df22.iloc[:,15] = LE.fit_transform(PG_df22.iloc[:, 15].values)

In [99]:
PG_df22.iloc[:,16] = LE.fit_transform(PG_df22.iloc[:, 16].values)

In [100]:
PG_df22

,CASE_ID,STU_CITIZEN_NM,STU_ABOR_TSI_NM,SUBMISSION_METHOD,ENTRY_TYPE,LAST_COUNTRY_EDUCATION,PREFERENCE_NO,AVAIL_ORG_UNIT_NM,CURR_AVAIL_YR,CURR_STUDY_PERIOD,STUDY_MODE_CD,ORIG_AVAIL_YR,ORIG_STUDY_PERIOD,SPK_CAT_TYPE_CD,OFFER_RELEASED_FG,OFFER_OUTCOME_CD,RETURNING_DEFERRAL
0,809378|42892|53807,5,5,5,3,23,1,1,2019,1,3,2016,0,3,0,0,1
3,735486|18758|144154,5,5,0,3,76,1,3,2019,0,3,2017,1,3,0,0,1
5,849365|108527|175922,5,5,5,3,23,1,3,2019,1,3,2017,0,3,0,0,1
6,861606|125025|206242,5,5,5,3,89,1,2,2019,1,3,2017,1,3,0,0,1
7,861722|125187|206506,0,0,5,8,5,1,8,2019,1,3,2017,1,3,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74239,1139923|517378|793442,5,5,5,3,23,1,3,2020,1,3,2020,1,3,0,0,0
74284,1139964|517455|793554,5,5,5,3,23,1,1,2020,1,3,2020,1,3,0,0,0
74353,1140046|517560|793707,5,5,5,3,23,1,3,2020,1,3,2020,1,3,0,0,0
74360,1069087|517566|793719,5,5,5,3,23,1,2,2020,1,3,2020,1,3,0,0,0
74361,1069087|517566|793720,5,5,5,10,23,2,3,2020,1,3,2020,1,3,0,0,0

In [101]:
X =PG_df22.iloc[:,1:16].values
Y =PG_df22.iloc[:,16].values

In [102]:
#spliting dataset
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size = 0.3,random_state=0)

In [103]:
# Logistic Regression
lr = LogisticRegression()

In [104]:
lr.fit(x_train,y_train)

C:\Users\AMAR\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [105]:
lr_predict=lr.predict(x_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, lr_predict)*100,2)))

accuracy: 97.85%

In [106]:
# Confusion Matrix, f1_score, precision, recall calculation
score=accuracy_score(y_test,lr_predict)
print(f'Accuracy: {round(score*100,2)}%')

cm=confusion_matrix(y_test,lr_predict, labels=[1,0])
print ("\n Confusion Matrix : \n")
print (cm)

p, r, f, _ = precision_recall_fscore_support(y_test,lr_predict, pos_label=1, average="micro");

print("\nPerformance on offer outcome with prerequisite:")
print("Precision =", p)
print("Recall    =", r)
print("F1        =", f)

Accuracy: 97.85%

 Confusion Matrix :

[[984  32]
 [  0 475]]

Performance on offer outcome with prerequisite:
Precision = 0.9785378940308518
Recall    = 0.9785378940308518
F1        = 0.9785378940308518

In [107]:
lr_predict

array([1, 0, 1, ..., 1, 1, 1])

In [108]:
# Linear SVC
svm = LinearSVC()
svm.fit(x_train, y_train)

C:\Users\AMAR\Anaconda3\lib\site-packages\sklearn\svm\base.py:922: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
     intercept_scaling=1, loss='squared_hinge', max_iter=1000,
     multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
     verbose=0)

In [109]:
svm_predict = svm.predict(x_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, svm_predict)*100,2)))

accuracy: 68.14%

In [110]:
# SVC
svc = SVC()
svc.fit(x_train, y_train)

C:\Users\AMAR\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='rbf', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [111]:
svc_predict = svc.predict(x_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, svc_predict)*100,2)))

accuracy: 84.84%

In [112]:
# Multinomial Naive Bayes
mnb = MultinomialNB()
mnb.fit(x_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [113]:
mnb_predict = mnb.predict(x_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, mnb_predict)*100,2)))

accuracy: 48.63%

In [114]:
#Bernoulli Naive Bayes
bnb = BernoulliNB()
bnb.fit(x_train, y_train)

BernoulliNB(alpha=1.0, binarize=0.0, class_prior=None, fit_prior=True)

In [115]:
bnb_predict = bnb.predict(x_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, bnb_predict)*100,2)))

accuracy: 65.86%

In [116]:
# K Nearest Neighbors
Knn = KNeighborsClassifier()
Knn.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [117]:
knn_predict=Knn.predict(x_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, knn_predict)*100,2)))

accuracy: 83.03%

In [118]:
# Decision Tree
tree = DecisionTreeClassifier()
tree.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [119]:
dt_predict=tree.predict(x_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, dt_predict)*100,2)))

accuracy: 97.12%

In [120]:
# Random Forest
forest = RandomForestClassifier()
forest.fit(x_train,y_train)

C:\Users\AMAR\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [121]:
random_predict=forest.predict(x_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, random_predict)*100,2)))

accuracy: 97.38%

In [122]:
# Ensemble Approach
ensemble=VotingClassifier(estimators=[('KNN', Knn), ('SVC', svc)], 
                        voting='hard', weights=[1,2]).fit(x_train,y_train)
print('The accuracy for K Nearest Neighbours and Support Vector Machines is:',ensemble.score(x_test,y_test))

C:\Users\AMAR\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

The accuracy for K Nearest Neighbours and Support Vector Machines is: 0.8484238765928906